<table>
    <tr>
        <th></th>
        <th>Base Score</th>
        <th>Ability Bonus</th>
        <th>Class Mod</th>
        <th>Skills, etc.</th>
        <th>Ability Score</th>
        <th>Skills, etc.</th>
        <th>Dice</th>
        <th style="padding-left: 50px;"></th>
    </tr>
    {{#each system.abilities as |ability key|}}
    <tr>
        <th>{{key}}</th>
        <th><input type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/></th>
        <th>{{ability.bonus}}</th>
        <th>{{ability.class}}</th>
        <th>{{ability.skillsBefore}}</th>
        <th>{{ability.score}}</th>
        <th>{{ability.skillsAfter}}</th>
        <th>2d6+{{ability.dice}}</th>
        <th class="roll-dice" data-roll-title="Nazwa" data-roll="2d6+{{ability.dice}}">Roll</th>
    </tr>
    {{/each}}
</table>