<table>
    <tr>
        <th></th>
        <th>Dice</th>
        <th></th>
    </tr>
    <tr>
        <th>Hit Check</th>
        <th>{{combat.hitCheck.dice}}d6+{{combat.hitCheck.flat}}</th>
        <th class="roll-dice" data-roll-title="Hit Check" data-roll="{{combat.hitCheck.dice}}d6+{{combat.hitCheck.flat}}">Roll</th>
    </tr>
    <tr>
        <th>Attack Power</th>
        <th>{{combat.attackPower.dice}}d6+{{combat.attackPower.flat}}</th>
        <th class="roll-dice" data-roll-title="Attack Power" data-roll="{{combat.attackPower.dice}}d6+{{combat.attackPower.flat}}">Roll</th>
    </tr>
    <tr>
        <th>Dodge Check</th>
        <th>{{combat.dodgeCheck.dice}}d6+{{combat.dodgeCheck.flat}}</th>
        <th class="roll-dice" data-roll-title="Dodge Check" data-roll="{{combat.dodgeCheck.dice}}d6+{{combat.dodgeCheck.flat}}">Roll</th>
    </tr>
    <tr>
        <th>Physical Defense</th>
        <th>{{combat.combatAttributes.physicalDefense}}</th>
        <th></th>
    </tr>
    <tr>
        <th>Magic Defense</th>
        <th>{{combat.combatAttributes.magicDefense}}</th>
        <th></th>
    </tr>
    <tr>
        <th>Action Points</th>
        <th>{{combat.combatAttributes.actionPoints}}</th>
        <th></th>
    </tr>
    <tr>
        <th>Movement</th>
        <th>{{combat.combatAttributes.movement}}</th>
        <th></th>
    </tr>
    <tr>
        <th>Detect Traps</th>
        <th>{{combat.detectTraps.dice}}d6+{{combat.detectTraps.flat}}</th>
        <th class="roll-dice" data-roll-title="Detect Traps" data-roll="{{combat.detectTraps.dice}}d6+{{combat.detectTraps.flat}}">Roll</th>
    </tr>
    <tr>
        <th>Disarm Traps</th>
        <th>{{combat.disarmTraps.dice}}d6+{{combat.disarmTraps.flat}}</th>
        <th class="roll-dice" data-roll-title="Disarm Traps" data-roll="{{combat.disarmTraps.dice}}d6+{{combat.disarmTraps.flat}}">Roll</th>
    </tr>
    <tr>
        <th>Sense Threats</th>
        <th>{{combat.senseThreats.dice}}d6+{{combat.senseThreats.flat}}</th>
        <th class="roll-dice" data-roll-title="Sense Threats" data-roll="{{combat.senseThreats.dice}}d6+{{combat.senseThreats.flat}}">Roll</th>
    </tr>
    <tr>
        <th>Identify Enemy</th>
        <th>{{combat.identifyEnemy.dice}}d6+{{combat.identifyEnemy.flat}}</th>
        <th class="roll-dice" data-roll-title="Identify Enemy" data-roll="{{combat.identifyEnemy.dice}}d6+{{combat.identifyEnemy.flat}}">Roll</th>
    </tr>
    <tr>
        <th>Magic Check</th>
        <th>{{combat.magicCheck.dice}}d6+{{combat.magicCheck.flat}}</th>
        <th class="roll-dice" data-roll-title="Magic Check" data-roll="{{combat.magicCheck.dice}}d6+{{combat.magicCheck.flat}}">Roll</th>
    </tr>
</table>