<h2>Life Path</h2>
<div>
Origin: <input type="text" name="system.attributes.life.origin" value="{{system.attributes.life.origin}}" data-dtype="Text"/>
Circumstance: <input type="text" name="system.attributes.life.circumstance" value="{{system.attributes.life.circumstance}}" data-dtype="Text"/>
Goal: <input type="text" name="system.attributes.life.goal" value="{{system.attributes.life.goal}}" data-dtype="Text"/>
</div>
<br>
<h2>Cheat</h2>
<div>
Name: <input type="text" name="system.attributes.life.name" value="{{system.attributes.life.name}}" data-dtype="Text"/>
Fffects: <input type="text" name="system.attributes.life.effects" value="{{system.attributes.life.effects}}" data-dtype="Text"/>
</div>