<form class='{{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
    <div class='header-fields'>
      <h1 class='charname'><input
          name='name'
          type='text'
          value='{{item.name}}'
          placeholder='Skill Name'
        /></h1>
    </div>
  </header>

  <section class='sheet-body'>
    <div class='body-field'>
      <label class='body-label'>Max Level</label>
      <input
        type='text'
        name='system.skillMaxLevel'
        value='{{system.skillMaxLevel}}'
        data-dtype='Number'
      />
    </div>
    <div class='body-field'>
      <label class='body-label'>Level</label>
      <input
        type='text'
        name='system.skillLevel'
        value='{{system.skillLevel}}'
        data-dtype='Number'
      />
    </div>
    <div class='body-field'>
      <label class='body-label'>Timing</label>
      <input
        type='text'
        name='system.skillTiming'
        value='{{system.skillTiming}}'
        data-dtype='String'
      />
    </div>
    {{#if (ne system.skillTiming "Passive")}}
    <div class='body-field'>
      <label class='body-label'>Active</label><br>
      <input
        type='checkbox'
        name='system.active'
        data-dtype='Boolean'
        {{#if system.active}}checked{{/if}}
      />
    </div>
    {{/if}}
    <div class='body-field'>
      <label class='body-label'>Check</label>
      <select name='system.skillCheck' data-dtype='String'>
        <option value="none" {{#if (eq system.skillCheck "none")}}selected{{/if}}>-</option>
        <option value="auto_success" {{#if (eq system.skillCheck "auto_success")}}selected{{/if}}>Auto Success</option>
        <option value="magic_check" {{#if (eq system.skillCheck "magic_check")}}selected{{/if}}>Magic Check</option>
        <option value="hit_check" {{#if (eq system.skillCheck "hit_check")}}selected{{/if}}>Hit Check</option>
        <option value="perception" {{#if (eq system.skillCheck "perception")}}selected{{/if}}>Perception</option>
        <option value="mind" {{#if (eq system.skillCheck "mind")}}selected{{/if}}>Mind</option>
        <option value="strength" {{#if (eq system.skillCheck "strength")}}selected{{/if}}>Strength</option>
        <option value="dexterity" {{#if (eq system.skillCheck "dexterity")}}selected{{/if}}>Dexterity</option>
      </select>
    </div>
    <div class='body-field'>
      <label class='body-label'>Target</label>
      <select name='system.skillTarget' data-dtype='String'>
        <option value="self" {{#if (eq system.skillTarget "self")}}selected{{/if}}>Self</option>
        <option value="single" {{#if (eq system.skillTarget "single")}}selected{{/if}}>Single</option>
        <option value="area_choose" {{#if (eq system.skillTarget "area_choose")}}selected{{/if}}>Area (Choose)</option>
        <option value="area_sl" {{#if (eq system.skillTarget "area_sl")}}selected{{/if}}>Area (SLx2 Targets)</option>
        <option value="scene" {{#if (eq system.skillTarget "scene")}}selected{{/if}}>Scene</option>
        <option value="vision" {{#if (eq system.skillTarget "vision")}}selected{{/if}}>Vision</option>
        <option value="see_effect" {{#if (eq system.skillTarget "see_effect")}}selected{{/if}}>See Effect</option>
      </select>
    </div>
    <div class='body-field'>
      <label class='body-label'>Range</label>
      <input
        type='text'
        name='system.skillRange'
        value='{{system.skillRange}}'
        data-dtype='String'
      />
    </div>
    <div class='body-field'>
      <label class='body-label'>Cost</label>
      <input
        type='text'
        name='system.skillCost'
        value='{{system.skillCost}}'
        data-dtype='Number'
      />
    </div>
    <div class='body-field'>
      <label class='body-label'>Effects</label>
      <input
        type='text'
        name='system.skillEffects'
        value='{{system.skillEffects}}'
        data-dtype='String'
      ></input>
    </div>
    <div class='body-field'>
      <label class='body-label'>Custom Rolls</label>
      <input
        type='text'
        name='system.skillCustomRolls'
        value='{{system.skillCustomRolls}}'
        data-dtype='String'
      ></input>
    </div>
    <div class='body-field'>
      <h2>Modifiers</h2>
      {{#each system.modifiers as |modifier key|}}
      <label class='body-label'>{{key}}</label>
      <input
        type='text'
        name='system.modifiers.{{key}}'
        value='{{modifier}}'
        data-dtype='String'
      ></input>
      {{/each}}
    </div>
  </section>
</form>