<form class='{{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
    <img
      class='profile-img'
      src='{{item.img}}'
      data-edit='img'
      title='{{item.name}}'
    />
    <div class='header-fields'>
      <h1 class='charname'><input
          name='name'
          type='text'
          value='{{item.name}}'
          placeholder='Name'
        /></h1>
      <div class='grid grid-4col'>
        <div>
          <label class="text-bold">Quantity</label>
          <div class="flexrow flex-center flex-between">
            <input
              type='text'
              name='system.quantity'
              value='{{system.quantity}}'
              data-dtype='Number'
            />
          </div>
        </div>
        <div>
          <label class="text-bold">Weight</label>
          <div class="flexrow flex-center flex-between">
            <input
              type='text'
              name='system.weight'
              value='{{system.weight}}'
              data-dtype='Number'
            />
          </div>
        </div>
        <div>
          <label class="text-bold">Level</label>
          <div class="flexrow flex-center flex-between">
            <input
              type='text'
              name='system.level'
              value='{{system.level}}'
              data-dtype='Number'
            />
          </div>
        </div>
        <div>
          <label class="text-bold">Value</label>
          <div class="flexrow flex-center flex-between">
            <input
              type='text'
              name='system.value'
              value='{{system.value}}'
              data-dtype='Number'
            />
          </div>
        </div>
      </div>
    </div>
  </header>

  <nav class='sheet-tabs tabs' data-group='primary'>
    <a class='item' data-tab='core'>Core</a>
    <a class='item' data-tab='modifiers'>Modifiers</a>
    <a class='item' data-tab='custom-modifiers'>Custom Modifiers</a>
  </nav>

  <section class='sheet-body'>
    <div class='tab' data-group='primary' data-tab='core'>
      <div style="margin-bottom: 10px;">
        <label class="text-bold">Item Type</label>
        <div class="flexrow flex-center flex-between">
          <select name="system.type" data-dtype="String">
            <option value="weapon" {{#if (eq system.type "weapon")}}selected{{/if}}>Weapon</option>
            <option value="shield" {{#if (eq system.type "shield")}}selected{{/if}}>Shield</option>
            <option value="armor" {{#if (eq system.type "armor")}}selected{{/if}}>Armor</option>
            <option value="accessory" {{#if (eq system.type "accessory")}}selected{{/if}}>Accessory</option>
            <option value="tool" {{#if (eq system.type "tool")}}selected{{/if}}>Tool</option>
            <option value="gem" {{#if (eq system.type "gem")}}selected{{/if}}>Gem</option>
            <option value="potion" {{#if (eq system.type "potion")}}selected{{/if}}>Potion</option>
            <option value="food" {{#if (eq system.type "food")}}selected{{/if}}>Food</option>
            <option value="storage" {{#if (eq system.type "storage")}}selected{{/if}}>Storage</option>
            <option value="decoration" {{#if (eq system.type "decoration")}}selected{{/if}}>Decoration</option>
            <option value="service" {{#if (eq system.type "service")}}selected{{/if}}>Service</option>
            <option value="service" {{#if (eq system.type "other")}}selected{{/if}}>Other</option>
          </select>
        </div>
      </div>
      <div style="margin-bottom: 10px;" class="grid grid-2col">
        <div>
          <label class="text-bold">Range</label>
          <div class="flexrow flex-center flex-between">
            <input type="text" name="system.range" value="{{system.range}}" data-dtype="String" />
          </div>
        </div>
        <div>
          <label class="text-bold">Sub Type</label>
          <div class="flexrow flex-center flex-between">
            <input type="text" name="system.subType" value="{{system.subType}}" data-dtype="String" />
          </div>
        </div>
      </div>
      <div>
        <label class="text-bold">Effects</label>
        <textarea name="system.effects" placeholder="Item description..." data-dtype="String" style="margin-bottom: 10px;">{{system.effects}}</textarea>
      </div>
      <div style="margin-bottom: 10px;">
        <label class="text-bold">Equip Slot</label>
        <div class="flexrow flex-center flex-between">
          <select name="system.equipSlot" data-dtype="String">
            <option value="head" {{#if (eq system.equipSlot "head")}}selected{{/if}}>Head</option>
            <option value="body" {{#if (eq system.equipSlot "body")}}selected{{/if}}>Body</option>
            <option value="support-armor" {{#if (eq system.equipSlot "support-armor")}}selected{{/if}}>Support Armor</option>
            <option value="one" {{#if (eq system.equipSlot "one")}}selected{{/if}}>One</option>
            <option value="both" {{#if (eq system.equipSlot "both")}}selected{{/if}}>Both</option>
            <option value="dual" {{#if (eq system.equipSlot "dual")}}selected{{/if}}>Dual</option>
            <option value="accessory" {{#if (eq system.equipSlot "accessory")}}selected{{/if}}>Accessory</option>
          </select>
        </div>
      </div>
      <div>
        <label class="text-bold">Class Restrictions</label>
        <div class="grid grid-2col list-container" style="margin-top: 5px;">
          {{#each availableClasses as |class|}}
            <div class="flexrow flex-center flex-between" style="align-items: center;">
              <input type="checkbox" style="margin-right: 10px;" class="class-restriction" data-class-id="{{class.id}}" {{#if (contains @root.system.classRestrictions class.id)}}checked{{/if}}>
              <label class="text-bold">{{class.name}}</label>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="tab" data-group="primary" data-tab="modifiers">
      <div class="grid grid-3col">
        {{#each system.modifiers as |modifier key|}}
          <div>
            <label class="text-bold">{{camelToTitle key}}</label>
            <div class="flexrow flex-center flex-between">
              <input
                type='text'
                name='system.modifiers.{{key}}'
                value='{{modifier}}'
                data-dtype='String'
              />
            </div>
          </div>
        {{/each}}
      </div>
    </div>
    <div class="tab" data-group="primary" data-tab="custom-modifiers">
      {{#each system.customModifiers as |modifier index|}}
        <div data-index="{{index}}">
          <div class="grid grid-2col">
            <div>
              <label class="text-bold">Name</label>
              <input type="text" name="system.customModifiers.{{@index}}.name" value="{{modifier.name}}" data-dtype="String" />
            </div>
            <div>
              <label class="text-bold">Roll IDs</label>
              <input type="text" name="system.customModifiers.{{index}}.rollIds" value="{{modifier.rollIds}}"data-dtype="String" />
            </div>
          </div>
          <div style="margin-bottom: 10px;">
            <label class="text-bold">Formula</label>
            <input type="text" name="system.customModifiers.{{index}}.formula" value="{{modifier.formula}}" data-dtype="String" />
          </div>
          <div style="margin-bottom: 10px;">
            <label class="text-bold">Apply when</label>
            <div class="flexrow flex-center flex-between">
              <select name="system.customModifiers.{{index}}.applyWhen" data-dtype="String">
                <option value="always" {{#if (eq modifier.applyWhen "always")}}selected{{/if}}>Always</option>
                <option value="equipped" {{#if (eq modifier.applyWhen "equipped")}}selected{{/if}}>When Equipped</option>
              </select>
            </div>
          </div>
          <button type="button" class="delete-modifier" data-index="{{index}}">Remove modifier</button>
        </div>
        <hr />
      {{/each}}
      <button class="add-modifier">Create new modifier</button>
    </div>
  </section>
</form>