<form class='{{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
    <div class='header-fields'>
      <h1 class='charname'><input
          name='name'
          type='text'
          value='{{item.name}}'
          placeholder='Race'
        /></h1>
    </div>
  </header>
  <section class='sheet-body'>
    <div>
      <label class="text-bold">Base Ability Scores</label>
      <table>
        <tr><th>Strength</th><th><input
          type='text'
          name='system.baseAbilityScore.strength'
          value='{{system.baseAbilityScore.strength}}'
          data-dtype='Number'
        /></th></tr>
        <tr><th>Dexterity</th><th><input
          type='text'
          name='system.baseAbilityScore.dexterity'
          value='{{system.baseAbilityScore.dexterity}}'
          data-dtype='Number'
        /></th></tr>
        <tr><th>Agility</th><th><input
          type='text'
          name='system.baseAbilityScore.agility'
          value='{{system.baseAbilityScore.agility}}'
          data-dtype='Number'
        /></th></tr>
        <tr><th>Intelligence</th><th><input
          type='text'
          name='system.baseAbilityScore.intelligence'
          value='{{system.baseAbilityScore.intelligence}}'
          data-dtype='Number'
        /></th></tr>
        <tr><th>Perception</th><th><input
          type='text'
          name='system.baseAbilityScore.perception'
          value='{{system.baseAbilityScore.perception}}'
          data-dtype='Number'
        /></th></tr>
        <tr><th>Mind</th><th><input
          type='text'
          name='system.baseAbilityScore.mind'
          value='{{system.baseAbilityScore.mind}}'
          data-dtype='Number'
        /></th></tr>
        <tr><th>Luck</th><th><input
          type='text'
          name='system.baseAbilityScore.luck'
          value='{{system.baseAbilityScore.luck}}'
          data-dtype='Number'
        /></th></tr>
      </table>
    </div>
  </section>
</form>